* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 2px;
}

.header img {
  width: 1.5rem;
  height: 1.5rem;
}

.trip img {
  width: 3.7rem;
  height: auto;
  padding: 4px;
}

.flex img {
  padding-right: 10px;
}

.itinerary {
  position: relative;
  margin: 30px 35px;
  justify-content: center;
  align-items: center;
}

.itinerary-form {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.itinerary-form img {
  width: 2.8rem;
  height: 2.8rem;
}

.itinerary-form p {
  font-size: 15px;
}

.arrow img {
  width: 2rem;
  height: 2rem;
}

.type img {
  width: 1.5rem;
  height: 1.5rem;
}

.local {
  background-color: var(--bg-local);
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
}

.select-input,
.airport-info {
  padding-bottom: 18px;
} 

.airport-info h3, p {
  margin-top: 20px;
} 

.type { 
  display: inline; 
  align-items: center;
}

.type p {
  margin-top: 0px;
}

select {
  border-radius: 20px;
}

#start {
  border-width: 1px;
  border-radius: 40px;
  padding: 0 12px;
}

#multi-city {
  margin-left: 8px;
  border: none;
  padding: 0 12px;
  border-radius: 50px;
  transition: transform .4s;
}

#multi-city:hover{
  filter: invert(100%);
  transform: scale(1.09);
}

.date {
  display: inline-grid;
}

.date label {
  font-size: 14px;
  margin-bottom: 5px;
}

.select-input select,
#start,
#multi-city {
  padding: 5px;
}

.github {
  margin-left: 12px;
}

.github img {
  width: 1.7rem;
  height: 1.7rem;
  transition: transform .4s;
}

.github img:hover {
  transform: scale(1.3);
}

footer {
  bottom: 0;
  left: 0;
  height: 35px;
  position: fixed;
  width: 100%;
}