* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 12px;
}

.initial {
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 2px;
}

.initial img {
  width: 3.7rem;
  height: auto;
  padding: 4px;
}

.initial h4 {
  margin-left: 0.9%;
}

.header {
  display: flex;
  align-items: center;
}

.header img {
  margin-right: 2.5%
}

.itinerary {
  margin-left: 8%;
}

.airport {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 10px;
}

.local img {
  width: 2.8rem;
  height: 2.8rem;
}

.airport p {
  font-size: 15px;
}

#flyingFromSpan img,
#flyingToSpan img {
  width: 2.8rem;
  height: 2.8rem;
}

.arrow img {
  width: 2rem;
  height: 2rem;
  margin-top: 22%;
}

.headerDate {
  display: flex;
  align-items: center;
}

.headerDate img {
  width: 1.5rem;
  height: 1.5rem;
}

.type{
  display: flex;
  align-items: center;
}

.type form {
  margin-left: 20px;
}

.type2 {
  display: flex;
  align-items: center;
}

.type2 p {
  padding-left: 8px;
}

.type2 img {
  width: 1.5rem;
  height: 1.5rem;
}

.flying {
  padding-top: 3%;
  display: flex;
}

.flyingFrom,
.flyingTo,
.flyingMultiCity {
  margin-top: 10%;
}

.flying1,
.flying2 {
  display: grid;
  margin-right: 2%;
}

.date {
  margin-top: 2%;
  margin-bottom: 2%;
  display: inline-grid;
}

#start {
  border-width: 1px;
  border-radius: 40px;
}

select {
  border-radius: 20px;
}

.local {
  margin: 0 20px;
  background-color: var(--bg-local);
  padding: 12px;
  border-radius: 40px;
}

.header-date {
  display: flex;
  justify-content: space-between;
}

.header h1 {
  width: 300px;
}

.github {
  margin-left: 12px;
}

.github img {
  width: 1.7rem;
  height: 1.7rem;
  transition: transform .4s; /* Animation */
}

.github img:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

footer {
  bottom: 0;
  left: 0;
  height: 35px;
  position: fixed;
  width: 100%;
}